<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Pattern</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet">
	<link href="../css/animate.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/responsive.css" rel="stylesheet">
	<link rel="shortcut icon" href="/home/favicon.png">
	<style>
	.error{
		color: red;
		font-style: italic;
	}
</style>
</head>
<!--/head-->

<body>

<header>
	<div class="header-middle ">
		<!--header-middle-->
		<div class="container ">
			<div class="row ">
				<div class="col-md-4 ">
					<div class="logo pull-left">
						<a href="/"><img src="/home/logo.png" alt="" /></a>
					</div>
				</div>
				<div class="col-md-8 " >
					<div class="shop-menu pull-right" >
						<ul class="nav navbar-nav">
							<li><a href="/wishlist"><i class="fa fa-heart"></i> Wishlist <span id="wCount" class="badge">{{wishCount}}</span></a></li>
							<li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart<span id="cCount" class="badge">{{cartCount}}</span></a></li>
							{{#if user}}
							<li><a href="/orders"><i class="fa fa-truck"></i> Orders</a></li>
							<li><a href="/profile"><i class="fa fa-user"></i> Account</a></li>
							<li><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
							{{/if}}
							{{#unless user}}
							<li><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
							{{/unless}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-middle-->

	{{!-- <div class="header-bottom">
		<!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="/" class="active">Home</a></li>
							<li class="dropdown"><a>Shop<i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">
									<li><a href="/orders">Orders</a></li>
									<li><a href="/cart">Cart</a></li>
									{{#unless user}}
									<li><a href="login">Login</a></li>
									{{/unless}}
								</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--/header-bottom--> --}}
	</header>
	<!--/header-->

	{{{body}}}
	<!--/Footer-->
	<script src="../js/jquery.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.scrollUp.min.js"></script>
	<script src="../js/jquery.prettyPhoto.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</body>
</html>