<section>
  <div class="container">
    <div class="headings">
      <h2 class="title">Order success</h2>
      <span class="hr"></span>
      <a href="#" class="btn btn-primary btn-lg">Orders</a>
    </div>
  </div>
</section>

<script>
         window.setTimeout(function(){

        window.location.href = "/orders";

    }, 3000);

    </script>