<section id="form">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="signup-form">
					<h2>New User Signup!</h2>
					<form action="/signup" method="POST">
						<input type="text" id="name" name="Name" placeholder="Name" />
						<input type="email" id="email" name="Email" placeholder="Email Address" />
						<input type="tel" id="mobile" name="Phone" placeholder="Phone" value="+91"/>
						<input type="password" id="password" name="Password" placeholder="Password" />
						<input type="password" id="confirmPass" placeholder="Confirm Password"/>
						<p>Already have an Account? &nbsp;<a href="/login">login</a></p>
						<button type="submit" id="signup_btn" class="btn btn-default">Signup</button>
					</form>
				</div>
			</div>
</section>
