<section id="form">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="signup-form">
			<h2>New User Signup!</h2>
			<form method="POST">
				<input type="text" id="name" name="Name" placeholder="Name" />
				<span style="color: red;" id="nameError"></span>
				<input type="email" id="email" name="Email" placeholder="Email Address" />
				<span style="color: red;" id="emailError"></span>
				<input type="tel" id="mobile" name="Phone" placeholder="Phone"/>
				<span style="color: red;" id="phoneError"></span>
				<input type="password" id="password" name="Password" placeholder="Password" />
				<span style="color: red;" id="passError"></span>
				<input type="password" id="confirmPass" placeholder="Confirm Password" />
				<span style="color: red;" id="confPassError"></span>
				<p>Already have an Account? &nbsp;<a href="/login">login</a></p>
				<button type="submit" id="signup_btn" class="btn btn-default">Signup</button>
			</form>
		</div>
	</div>
</section>
<script>
	$('#signup_btn').click(function () {

		var userData = {
			name: $('#name').val(),
			email: $('#email').val(),
			phone: $('#mobile').val(),
			password: $('#password').val(),
			verifyPassword: $('#confirmPass').val()
		}

		if (userData.name == '') {
			$("#nameError").html('name field cannot be empty')
		} if (userData.email == '') {
			$("#emailError").html('email is mandatory')
		} if (userData.phone.length <= 9 && userData.phone.length > 10) {
			$("#phoneError").html('Phone number should be 10 digit')
		} if (userData.password == '' || userData.password.length <= 5) {
			$("#passError").html('password should be minimum 6 characters')
		} if (userData.verifyPassword == '') {
			$("#confPassError").html('Verify password field cannot be empty')
		} if (userData.verifyPassword != password) {
			$("#confPassError").html("Password Doesn't match")
		}
		else {
			$.ajax({
				url: '/signup',
				type: 'POST',
				data: userData,
				dataType: 'JSON',
				success: (data){
					console.log(data)
					if(data){
					location.href('/');
					}else{
						location.reload('/signup')
					}
				}
			})
		}
	})
</script>