<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoom test</title>

  <!-- <style>
    #default{
  text-align:center;
}
  </style> -->
</head>

<body>

  <div class="container">
    <!-- default start -->
    <section id="default" class="padding-top0">
      <div class="row">
        <div class="large-12 column">
          <h3>Product Zooming</h3>
        </div>
        <hr>
        <div class="large-5 column">
          <div class="xzoom-container">
            <img class="xzoom" id="xzoom-default"
              src="/public/images/products/60853b8da3be032434165dd11.jpg"
              xoriginal="/public/images/products/60853b8da3be032434165dd11.jpg" />
            <div class="xzoom-thumbs">
              <a
                href="/public/images/products/60853b8da3be032434165dd11.jpg"><img
                  class="xzoom-gallery" width="80"
                  src="/public/images/products/60853b8da3be032434165dd11.jpg"
                  xpreview="/public/images/products/60853b8da3be032434165dd11.jpg"></a>

              <a
                href="/public/images/products/60853b8da3be032434165dd12.jpg">
                <img
                  class="xzoom-gallery" width="80"
                  src="/public/images/products/60853b8da3be032434165dd12.jpg"
                  title="The description goes here"></a>

              <a
                href="/public/images/products/60853b8da3be032434165dd13.jpg">
                <img
                  class="xzoom-gallery" width="80"
                  src="/public/images/products/60853b8da3be032434165dd13.jpg"
                  title="The description goes here"></a>

            </div>
          </div>
        </div>
        <div class="large-7 column"></div>
      </div>
    </section>
    <!-- default end -->
  </div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="/public/js/zoom.js"></script>
    <script src="https://unpkg.com/xzoom/dist/xzoom.min.js"></script>
    <!-- <script src="https://hammerjs.github.io/dist/hammer.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha512-aPZP5EFQrbKpqux5Th+or0QDCS+ob5uYscmW5Rg3vbheeegHtyj1WY3vsZujqLNXQTjAPTT8hA2QKczu0lMcmg==" crossorigin="anonymous"></script> -->

</body>

</html>